extends layout

block content
  h1 Panel de 
    small #{correo}
  div(class="modal fade", id="signup", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
          h4(class="modal-title") HadasaSocial
        div(class="modal-body")
          Bienvenid@ #{correo}. Gracias por accesar a nuestro portal.
        div(class="modal-footer")
          button(type="button", class="btn btn-default", data-dismiss="modal") Cerrar
          button(type="button", class="btn btn-primary") Save changes