doctype 5
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="Alexander Miss")

    link(href="/stylesheets/bootstrap.css", rel="stylesheet")

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="/") HadasaSocial
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="/") Home
            li
              a(data-toggle="modal", href="/signup") Registrarse
            li
              a(href="/users") Usuarios existentes
            li(class="dropdown")
              a(href="#", class="dropdown-toggle", data-toggle="dropdown") Usuario
                b(class="caret")
              ul(class="dropdown-menu")
                li
                  a(href="#") Action
                li
                  a(href="#") Another action
                li
                  a(href="#") Something else here
                li(class="divider")
                li(class="dropdown-header") Nav header
                li
                  a(href="#") Separated link
                li
                  a(href="#") One more separated link
          form(class="navbar-form navbar-right", method="post" action="/signin")
            div(class="form-group")
              input(type="text", name="email", placeholder="Email", class="form-control")
            div(class="form-group")
              input(type="password", name="password", placeholder="Password", class="form-control")
            button(type="submit", class="btn btn-success") Sign in

    div.container
      block content


    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    //script(src='/javascripts/dropdown.js')
    script(src='/javascripts/modal.js')

    script
      $('#signup').modal('show');