extends layout

block content

  form(class="form-horizontal", role="form", method="post", action="/user/new")
    legend Registrarse
    div(class="form-group")
      label(for="inputEmail1", class="col-lg-2 control-label") Email
      div(class="col-lg-3")
        input(type="email" name="email" class="form-control" id="inputEmail1" placeholder="Email")
    div(class="form-group")
      label(for="inputPassword1", class="col-lg-2 control-label") Password
      div(class="col-lg-3")
        input(type="password" name="password" class="form-control" id="inputPassword1" placeholder="Password")
    div(class="form-group")
      div(class="col-lg-offset-2 col-lg-3")
        div(class="checkbox")
          label
            input(type="checkbox") Remember me
    div(class="form-group")
      div(class="col-lg-offset-2 col-lg-3")
        <button type="submit" class="btn btn-default">Sign in</button>