extends layout

block content
  table(class="table")
    thead
      tr
        td Correo
        td Clave
    tbody
      if(usuarios.length)
        each u in usuarios
          tr
            td #{u.email}
            td #{u.password}